.parent{
    background-color: grey;
    width: 1080px;
    height: 720px;
    position: relative       ;
}
.child1{
    background-color: red;
    height: 250px;
    width: 250px;
    top: 0;
    right:;
    position: relative;

}
.child2{
    background-color: green;
    height:250px;
    width: 250px;
    position: absolute;
    top: 0px;
    left: 296px;
}
.child3{
    background-color: yellow;
    height: 250px;
    width: 250px;
    position: absolute;
    bottom: 0px;
    right: ;
    top: 296px;
}
.child4{
    background-color: blue;
    height: 250px;
    width: 250px;
    position: absolute;
    bottom: 0px;
    left:300px ;
    top: 296px;
}
.sc1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 10px;
}
.s2c1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 170px;
}
.s3c1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 30px;
}
.s4c1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 190px;
}
.sc2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 10px;
}
.s2c2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 170px;
}
.s3c2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 30px;
}
.s4c2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 190px;
}
.sc3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 10px;
}
.s2c3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 170px;
}
.s3c3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 30px;
}
.s4c3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 190px;
}
.sc4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 10px;
}
.s2c4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 170px;
}
.s3c4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 30px;
}
.s4c4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 50px;
    right: 190px;
}