.flex{
    height: 300px;
    width: 1280px;
    display: flex;
    /* flex-wrap: wrap; */
    background-color: tomato;
    flex-direction: row;
  
}
.item{
    height: 100px;
    width: 250px;
    background-color: yellow;
    margin: 20px;
    
}
@media (min-width:320px) and (max-width:720px){
    .flex{
        flex-direction: column;
        height: 720px;
        
    }
    .item{
        height: 100px;
        width: 100px;
        background-color: aqua;
   
    }
}