.text{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    /*background-image: linear-gradient(
        to top,
    violet 0% 25%,
    indigo 50%,
    blue 75%,
    green 100%,
    yellow,
    orange,
    red
    );
    /* Two colors are required for linwe gradient*/
    /* Top to bottom is the default arrangment pattern of the order.
    /* to bottom, to top, to right, to left, to top right, to top left, to bottom right, to bottom left */
    /*0deg(bottom to top), 90deg(left to right), 180deg(top to bottom) */
   /* background-image: radial-gradient(
        violet 5%,
        indigo 25%,
        blue 50%,
        green 
        
    );
    border-radius: 50%;
    */

        background-image: conic-gradient(
        red,
        blue,
        green
        );
        border-radius: 50%; /*this is optional */
}    
.red{
    position: absolute;
    top: 50px;
    right:50px;
    display: inline-block;
    color: white;
}
.blue{
    position: absolute;
    bottom: 50px;
    right:150px;
    display: inline-block;
    color: white;
}
.green{
    position: absolute;
    top: 50px;
    left:50px;
    display: inline-block;
    color: white;
}
.btn{
    width: 140px;
    height: 35px;
    background-color: tomato;
    border:none;
    color: white;
    padding: 40px;
    border-radius: 4px;;
    cursor: progress;
    box-shadow: 2px 2px 2px grey;
            /* top bottom blur color*/
}
.btn:hover{
    background-color: red;
}
.danger{
    background-color: aqua;
}
.warning{
    background-color: antiquewhite;
}
.primary{
    background-color: aquamarine;
}
.box{
    width: 200px;
    height: 200px;
    background-color: tomato;
    box-shadow: 10px 10px 5px grey ;
}
.texts{
 text-shadow: 10px 10px 10px ;
}
.box-sizing {
    width: 200px;
    height: 200px;
    background-color: tomato;
    color: white;
    padding: 20px;
    border: 20px solid blue;
    margin: 20px;
    /* box-sizing: content-box;(default value), only includes the content box (no padding/border/margin) */
    box-sizing: border-box;
    /* for border-box, it includes content + padding(if present) + border(if present) but (margin is never included) */
}


}
