/*.item{
    width: 100px;
    height: 100px;
    position: absolute;

}
.item1{
    background-color: tomato;
    z-index: 0;
    top: 0;
    left: 0;
}
/*.item2{
    background-color: tomato;
    z-index: 0;
    top: 0;
    left: 0;
}*/
/*.item2{
    background-color: green;
    z-index: 1;
    top: 20px;
    left: 20px;
}
.item3{
    background-color:blue;
    z-index: 0;
    top: 40px;
    left: 40px;
    visibility: hidden;
    /*visible is the default vlaue for the property visibility.
    display none don't occupy space on the web whereas visibility hiddden does occupies space but is not visible */
*/
.box1{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: none;
}
.box2{
    width: 100px;
    height: 100px;
    background-color:red;
    visibility: visible;
}
 /*img{
   filter: blur(5px);
    filter:brightness(100%);
    filter:drop-shadow(20px 10px 10px grey);
    filter:contrast(50%);
    filter: grayscale(50%);
    filter: hue-rotate(120deg);
    filter: invert(200%);
    filter:opacity(30%);
    filter: saturate(5);
    filter: sepia(100%);
    filter: contrast(150%) brightness(200%);

}*/
.gridcontainer{
background-color: tomato;
padding: 20px;
padding: grid;
grid-template-columns: auto;
/*grid-template-columns: 3fr 2fr 1fr;
grid-template-columns: auto(3,200px);*/
grid-template-rows: repeat(2,100px);

}
.item{
    background-color: yellow;
    padding: 20px;
    margin: 5px;
}