/* img{
    /* width: 100vw; */
    /* width: min(80vw,400px); 
    width: 200px;
    height: 200px;
*/
/* .test{
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: min(10vw,10px);
    padding: max(20px,2vw);
} */
/* using calc function */
img{
    width: 200px; 
    height: 200px;
    margin-left: calc((100vw - 200px)/2);
    margin-right: calc((100vh - 200px)/2); 
}


/* .test{ */
    /* width: 100px;
    height: 100px; 
    background-color: tomato;
    margin: min(10vw,10px);
    padding: max(20px,2vw);
*/
/* min width value is inclusive and max width value are exclusive */
/* @media (min-width:500px) and (max-width:700px){
    .test{
        background-color: blue;
        color: yellow;
        width: 100px;
        height: 100px;
    }
    }
    @media (min-width:700px) {
        .test{
            background-color:greenyellow;
            color: pink;
            width: 500px;
            height: 100px;
        }
    } */

    /* px, %, vw, vh, em, rem, pt */
/* units */
/* Absolute Units - px, pt */
/* relative units - %, em, rem, vw, vh */
/* px := 1/96 of an inch */
/* pt := 1/76 of an inch */

    .test{
        width: 300px;
        height: 400px;
        background-color: green;
    }
/* .test1{
    width: 50%;
    height: 50%;
    padding: 10px;
    background-color: aqua;
    /* % takes the value from their parent element
    padding: 10%;
    margin: 10%; */
/* padding and margin of the child is dependent on width of parent if % used as unit */

/* rem and em */

/* 1 rem = font size of root element(html), default value is 16px */
html{
    font-size: 20px;
}
.test{

    width: 20rem;
    height: 20rem;
    background-color: yellow;
}
/* 1em means taking the font-size value of itself(child font-size) */
/*If child don't have font size of its own then
 1em means taking the font-size value of its parent(parents font-size) */
 /* If parent also don't have font size of its own then
 1em means taking the font-size value from the root element(html)(root element font-size) */

 .test1 {
    width: 30em;
    height: 30em;
    background-color: rgb(255, 0, 0);
    font-size: 10px;
 }
