body{
    margin: 0;
}
/*.block /*{
    background-color: blue ;
    color: white;
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 50px;
    border: 10px solid green;
    /*display: inline;*/

/*.inline {
    display: block;
    background-color: red;
    /*padding: 100px;
    /* padding in inline level element causes overlapping of elements */
    /*width: 200px;
    height: 200px;
    /*width and height properties don't work for the inline elements.*/
    /*border: 100px solid grey;*/
    /*margin: 50px;
    /* Margin property is applied only Horizontally in inline elements and not on vertical elements */
    
/*} */
/*.inline{
    display: inline-block;
    background-color: red;
    /*padding: 100px;
    /* padding in inline level element causes overlapping of elements */
    /*width: 200px;
    height: 200px;
    /*width and height properties don't work for the inline elements.*/
    /*border: 100px solid grey;*/
    /*margin: 50px;
    /* Margin property is applied only Horizontally in inline elements and not on vertical elements */
    
/*}*/

/* for flex -->>parent and child  combination,parent elements are always given as display */

.flex-container{
padding: 20px;
background-color: tomato;
color: black;
display: flex;
height: 500px;
/*flex-direction: row;
/*flex-direction row; default value for flex direction is row*/
flex-wrap: wrap;
/*allows to wrap all the flex items in the row direction thereby allowing to attain width of items property
provided for this flex-direction def value is row*/
/*flex-flow:  row-reverse wrap ;
/*flex flow - first is flex direction and second is flex wrap */
justify-content:flex-start;
/*align-items: flex-start; */
align-content:flex-end;
}
.flex-items{
    width: 100px;
    height: 100px;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
}