body{
    background-color: aquamarine;
}
.box1{
    height: 250px;
    width: 250px;
    background-color: white;
    color: rgb(27, 208, 214);
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    top: 200px;
    left: 40%;
    font-family: sans-serif;
    border-radius: 20px;
}
.hr{
    background-color: brown;
}
.chkbx{
    height: 20px;
    width: 20px;
}
.txt{
    text-decoration: line-through;
    color: black;
}