@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sevillana', cursive;
}

body {
    background-color: plum;
}

h1 {
    font-size: 3rem;
    color: white;
}

.main-container {
    width: 80%;
    height: 100vh;
    /* border: 1px solid; */
    margin: 0 auto;
}

.header {
    display: flex;
    height: 13vh;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
}

#add_task {
    font-size: 2rem;
    color: purple;
    cursor: pointer;

}

#add_task i {
    color: white;
    cursor: pointer;
}

#msgBox {
    font-size: 2rem;
    color: rgb(66, 1, 66);
}

#cards {
    display: flex;
    /* margin: 20px; */
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.card {
    width: 300px;
    min-height: 350px;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    position: relative;
    display: none;
}

.main-popup , .list-popup {
    display: grid;
    place-items: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.popup , .list_popup {
    width: 350px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding-top: 80px;


}

#input_text , #input_list{
    width: 80%;
    height: 5vh;
    margin: 10px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    color: rgb(233, 38, 103);
   box-shadow: 2px 2px 4px rgb(157, 4, 157);
}

.popup button , .list_popup button{
   all: unset; /*removes all the properties of selected item*/
   margin: 10px;
   border-radius: 13px;
   box-shadow: 2px 2px 5px   purple;
   /* background-color: plum; */
   padding: 10px  40px;
   

}
.popup button:hover , .list_popup button:hover{
    background-color: rgb(223, 196, 223);

}
.popup button:active , .list_popup button:active{
    box-shadow: 1px 1px 1px purple ;
}

#card_title{
    all: unset;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 1px 10px purple;
    color: purple;
    
}
.content{
    padding: 15px;
    color: rgb(192, 15, 74);
}
.btn_mark_done{
    all: unset;
    border-radius: 13px;
    font-size:medium;
    padding: 5px  10px;
    color:purple;
   box-shadow: 2px 2px 5px  purple;
}

.btn_mark_done:active{
    box-shadow:inset 2px 2px 5px  purple; /*shadow will move inside the box*/

}

.text{
    display: none;
    display: flex;
    flex: 2 1 auto;
    justify-content: space-around;;
    align-items: center;
    font-size: 1.5rem;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.option{
    /* float: right; */
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 15px;
    font-size: 1.5rem;
}
#delete{
    all: unset;
    font-size: 1.5rem;
    padding: 10px;
    color: rgb(245, 74, 74);
}
#edit{
    all: unset;
    font-size: 1.5rem;
    padding: 10px;
    color: purple;
}