.test{
    height: 200px;
    width: 200px;
    background-color: red;
    margin-left: 200px;
    animation-name: anim;
    animation-duration: 4s;
    position: relative;
    -o-animation-direction: alternate;
}
@keyframes anim{
    0%{
        background-color: red;
        top: 0;
        left: 0;
    }
    25%{
        background-color: blue;
        top: ;
        left: 400px;

    }
    50%{
        background-color:yellow ;
        top: 400px;
        left: 0;
    }
    75%{
        background-color: green;
        top: ;
        left:400px;
    }
    100%{
        background-color: red;
        top:0 ;
        left: 0;
    }

}
  