div{
    height: 100px;
    width: 100px;
    padding: 10px;
}
.item1{
    background-color: tomato;
    /* float: right; */
    
}
.item2{
    background-color: green;
    /* float: right; */

}
.item3{
    background-color:yellow;
    float: right;

}
.item4{
    background-color: burlywood;
    float: right;

}