.container{
    display: inline-block;
}
.p1{
    height: 250px;
    width: 200px;
    background-color: tomato;
    color: black;
}
.p2{
    height: 250px;
    width: 200px;
    background-color: silver;
    color: black;
    position: relative;
}
.cp2{
    height: 130px;
    width: 75px;
    background-color: turquoise;
    color: black;
    position: relative;
    left: 15px;
    right: 10px;
    top: 20px;
}
.p3{
height: 250px;
width: 200px;
background-color: tomato;
color: black;
position: absolute;
}
.cp3{
    height: 130px;
    width: 75px;
    background-color: turquoise;
    color: black;
    position: relative;
    left: 15px;
    right: 10px;
    top: 20px;
}
.fix{
    display: inline-block;
    position: sticky;
    background-color: red;
    color: black;
    height:50px; 
    bottom: 10px;
}